.leftsidemenu {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
  background-color: #f6c1fd;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  float: left;
  width: 17%;
  justify-content: flex-start;
  height: 850px;
  line-height: 55px;
  padding: 20px;
  box-sizing: border-box;
}
.navitemlist {
  list-style-type: none;
  padding: 0;
}
.item {
  line-height: 10px;
}